<!DOCTYPE html>
<html lang="en" class="max-md:overflow-x-hidden">
  {% include "partials/head.njk" %}
  <body class="bg-dark overflow-x-hidden">
    {% include 'partials/header.njk' %}
    <main class="container mx-auto">
      {{ content | safe }}
    </main>
    {% include 'partials/footer.njk' %}
  </body>
</html>