---
layout: base.njk
permalink: /about/
eleventyNavigation:
  order: 50
  key: About
---
Hello, I am Nick Chrysis a singer-songwriter, audio engineer and educator based in Groningen. 

I focus on performing, recording, music production, sound design, mixing & mastering.
Contact me for inquiries!