---
layout: base.njk
permalink: /about/
eleventyNavigation:
  order: 50
  key: About
---
<div class="md:flex my-8">
  <div class="flex-none md:flex-1">
    {% image "src/assets/images/band_casual_solo.jpg", "Band solo" %}
  </div>
  <div class="flex-none md:flex md:flex-col md:flex-1 md:px-5 md:min-h-full">
    <div class="sticky top-5">
      <h2 class="whitespace-pre-line mt-5 md:mt-0">Hello, I am <span class="font-bold">Nick Chrysis</span></h2>
      <p class="whitespace-pre-line mt-5">A singer-songwriter, audio engineer and educator based in Groningen.</p>
      <p class="whitespace-pre-line mt-5">I focus on performing, recording, music production, sound design, mixing & mastering.</p>
      <p class="whitespace-pre-line mt-5"><a href="/contact">Contact me</a> for inquiries!</p>
    </div>
  </div>
</div>