---
layout: base.njk
permalink: /contact/
eleventyNavigation:
  order: 60
  key: Contact
---
<div class="my-8">
  <div class="flex flex-col items-center">
    <div class="w-20 md:w-32 text-light">
      {% include "src/_includes/svg/chat.svg" %}
    </div>
    <h2 class="mt-5">Reach out today</h2>
    <p class="mt-5">Call me at <a class="animated" href="tel:{{meta.contact.phone}}" alt="Call Nick Chrysis">{{meta.contact.phone}}</a> or send an e-mail to <a class="animated" href="mailto:contact@nickchrysis.com" alt="Email Nick Chrysis">contact@nickchrysis.com</a></p>
  </div>
</div>