---
layout: base.njk
permalink: /
eleventyNavigation:
  order: 1
  key: Home
---
<div class="my-8 min-h-screen bg-cover bg-top bg-[url('/assets/images/homepage.jpg')]">
  <div class="w-full min-h-screen p-10 md:p-24 bg-dark/50 flex items-center">
    <h2 class="text-light whitespace-pre-line">Musician,
      Music Producer,
      Audio-Engineer and Educator
      based in the Netherlands.</h2>
  </div>
</div>