---
layout: base.njk
permalink: /services/
eleventyNavigation:
  order: 30
  key: Services
---
<div class="my-8">
  <h2 class="mt-5">Sound Design and Music Production</h2>
  <p class="mt-5">Sound Design and Music Production is essential to create an immersive experience for the audience. Enhance the auditory landscape of your videos and amplify the impact of your vision with audio.</p>
  <p class="mt-5"><a href="https://finetune.audio/cases" target="_blank">Projects created in Fine Tune Audio</a></p>
  <p class="text-base">Created in &copy; Fine Tune Audio</p>
  <h2 class="mt-5">Recording / Mixing and Mastering</h2>
  <p class="mt-5"> I will record your music on location, mix and master your projects and provide you with a polished end result!</p>
  <div class="flex flex-col md:grid md:grid-cols-2 gap-5 mt-5">
    {% for video in embed.youtube.services %}
      <iframe
        width="100%"
        height="{{ embed.youtube.iframe_height }}"
        src="{{ video.url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    {% endfor %}
  </div>
</div>