---
layout: base.njk
permalink: /teaching/
eleventyNavigation:
  order: 40
  key: Teaching
---
<div class="md:flex my-8">
  <div class="flex-none md:flex-1">
    <div class="md:sticky top-5">
      {% image "src/assets/images/studio.jpg", "Studio" %}
    </div>
  </div>
  <div class="flex-none md:flex md:flex-col md:flex-1 md:px-5 md:min-h-full">
    <h2 class="mt-5 md:mt-0">Singing lessons</h2>
    <p class="mt-5">Having been tutored by multiple vocal teachers throughout my career and with a degree in Vocal Performance I can help you discover the power of your voice so you can experience the beauty of music making.</p>
    <h2 class="mt-5">Ableton lessons</h2>
    <p class="mt-5">With years of experience in music production and currently working as a music producer and audio engineer, we can explore the world of digital music making. Bring life to your musicianship by taking a deep dive in the world of modern music creation and it’s vast arsenal of tools.</p>
    <p class="mt-5"><a href="/contact">Contact me</a> to arrange a lesson!</p>
  </div>
</div>