@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 52px;
  --footer-height: 241.833px;
}

/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
html {
  scroll-behavior: smooth;
}

/* page & menu height */
main {
  min-height: 100vh;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  align-content: center;
}

#main-menu {
  max-height: calc(100vh - var(--header-height));
}

@layer base {

  /* fonts */
  @font-face {
    font-family: Montserrat;
    src: url('/src/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: Montserrat;
    src: url('/src/assets/fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* typography */
  h1 {
    @apply text-5xl text-6xl;
  }
  h2 {
    @apply text-4xl md:text-5xl;
  }
  h3 {
    @apply text-3xl text-4xl;
  }
  p {
    @apply text-2xl;
  }

  /* colors */
  p, h1, h2, h3, h4, h5, h6 {
    @apply text-light;
  }

  #header, #main-menu {
    @apply bg-primary md:bg-dark;
  }
  #header .logo {
    @apply hover:no-underline
  }
  #header a {
    @apply text-dark md:text-primary
  }
  #header a[aria-current] {
    @apply text-secondary
  }
  a {
    @apply text-primary hover:text-light hover:underline;
  }
  .animated {
    @apply hover:no-underline text-primary hover:text-dark ease-in-out duration-300 before:ease-in-out before:duration-300 relative before:absolute before:h-0 before:w-[104%] before:-left-[2%] before:bottom-0 before:-z-10 before:bg-primary before:hover:h-full;
  }
}