---
layout: base.njk
permalink: /services/mixing-mastering/
eleventyNavigation:
  key: Mixing & mastering
  parent: Services
---
This is mixing & mastering. Its content is already written in recording.