---
layout: base.njk
permalink: /services//recording/
eleventyNavigation:
  key: Recording
  parent: Services
---
I will record your music on location, mix and master your projects and provide you with a polished end result!
Links go here.