---
layout: base.njk
permalink: /teaching/singing-lessons/
eleventyNavigation:
  key: Singing lessons
  parent: Teaching
---
Havin been tutored by multiple vocal teachers throughout my career and with a degree in Vocal Performance I can help you discover the power of your voice so you can experience the beauty of music making.