<footer class="py-8 border-t-2 border-primary">
  <div class="container">
    <div class="flex flex-col md:flex-row gap-5">
      <div class="basis-full md:basis-1/2">
        <h2>Get in touch</h2>
        <ul>
          <li>
            <a class="animated text-2xl" href="tel:{{meta.contact.phone}}">{{meta.contact.phone}}</a>
          </li>
          <li>
            <a class="animated text-2xl" href="mailto:{{meta.contact.email}}">{{meta.contact.email}}</a>
          </li>
        </ul>
      </div>
      <div class="basis-full md:basis-1/2">
        <h2>Socials</h2>
        <ul>
          {% for name, link in meta.socials %}
            <li>
              <a href="{{link}}" target="_blank" class="text-lg inline-flex content-center leading-6">
                <span class="inline-block mr-1">
                  {% include "../svg/" + name + ".svg" %}
                </span>
                {{ name | capitalize | replace('_', ' ') }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="copy mt-10">
      <p class="text-base">Nickchrysis &copy; {% year %}. All rights reserved.</p>
    </div>   
  </div> 
</footer>